<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="false" name="Suite">

	<listeners>
		<listener class-name="practice.testng.listeners.ClassHelper" />
		<listener class-name="practice.testng.listeners.MethodHelper" />
		<listener class-name="practice.testng.listeners.TestHelper" />
		<listener class-name="practice.testng.listeners.TestSuiteHelper" />
	</listeners>

	<test name="Test">
		<classes>
			<class name="examples.LaunchBrowserTest" />
			<class name="examples.SeleniumWaitsTest" />
			<class name="examples.ListenersTest" />
		</classes>
	</test> <!-- Test -->

	<test name="package_level_include">
		<packages>
			<package name="examples"/>
			<package name="practice.testng.basics"/>
		</packages>
	</test>
</suite> <!-- Suite -->
